<!DOCTYPE html>
<html>

<head>

<title>Shahu ❤️ Nihal</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>
<div id="introScreen">

<h1 class="introTitle">

Shahu ❤️ Nihal

</h1>
<h2 class="heartbeat">

I LOVE YOU SHAHU ❤️

</h2>

<p>Forever Love Story</p>

</div>
<h1 class="title">Shahu ❤️ Nihal</h1>

<h3>Forever Love Story</h3>

<p id="timeMessage"></p>

<div class="quote" id="quote">
{{quote}}
</div>

<div id="timer"></div>

<form method="POST">
<input name="new_quote" placeholder="Write love quote">
<button>Add Quote</button>
</form>

<p>{{message}}</p>

<button onclick="missYou()">Miss You 💌</button>
<button onclick="loveLetter()">Love Letter 💖</button>
<button onclick="proposal()">Proposal 💍</button>

<button onclick="playMusic()">Play Music 🎵</button>
<button onclick="pauseMusic()">Pause Music</button>
<button id="installBtn">Install Love App 📱</button>
<button onclick="loveVoice()">Hear Love Voice 💖</button>
<button onclick="darkTheme()">Dark Theme 🌌</button>
<button onclick="pinkTheme()">Pink Theme 💖</button>
<h2>Our Memories 📸</h2>

<div class="gallery">

<img src="/static/photos/1.jpg">
<img src="/static/photos/2.jpg">
<img src="/static/photos/3.jpg">
<img src="/static/photos/4.jpg">

</div>

<h2>Photo Slideshow</h2>

<img id="slideshow" src="/static/photos/1.jpg">

<br><br>

<button onclick="installApp()">Install App 📱</button>
<button onclick="shareLove()">Share Love App 💖</button>

<div id="popup" class="popup">

<p id="popupText"></p>

<button onclick="closePopup()">Close</button>

</div>
<audio id="music" src="/static/song.mp3"></audio>

<div id="hearts"></div>

<script src="/static/script.js"></script>

<div class="ringBox">

💍

</div>

</body>

</html>